* {
  box-sizing: border-box;
}

body {
  background-color: #33363b;
  color: #e5e5e5;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

#root {
  /* width: 100%; */
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  flex: 1;
  box-sizing: border-box;
}

h3 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #00d2ff;
  font-size: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-size: 0.9rem;
  height: 40px;
  width: 100%;
  background-color: pink;
  border: 0;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 8px 0;
  border-radius: 1px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn:focus {
  outline: 0;
}

.btn--large {
  height: 50px;
}

.btn--disabled {
  background: repeating-linear-gradient(-45deg, #3d4045, #3d4045 10px, #383b40 10px, #383b40 20px);
  color: #999;
  border: 0;
  opacity: 1;
}

.btn--selected {
  color: #00d2ff;
}

.btn-group {
  display: flex;
  flex-direction: row;
}

.btn-group > .btn:not(:last-child) {
  margin-right: 10px;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  margin: 0;
}

.app-content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  flex-grow: 1;
  margin: 0 auto;
}

/* HEADER */

header {
  /*background: #8dbcd0;*/
  background: #1b1c2185;
  color: #00d2ff;
  padding: 10px 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;

  flex-shrink: 0;
  display: inline-flex;
}

header h2 {
  font-family: 'Open Sans', sans-serif;
  color: #efefef;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0;
  letter-spacing: 3px;
  font-weight: 600;
}

header span {
  color: white;
  width: 30px;
}

header span svg {
  color: white;
  fill: white;
}

/* NAV OVERLAY */

.uk-offcanvas-bar {
  width: 100%;
}

.uk-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uk-nav,
.uk-nav a,
.uk-nav a:hover {
  font-size: 1.5rem;
  line-height: 3;
  color: #e5e5e5;
  text-decoration: none;
}

.uk-nav li {
  display: inline-flex;
  align-items: center;
}

.uk-nav .MuiSvgIcon-root-1 {
  font-size: 30px;
}

/* HOME PAGE */

.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20vh 20px 20px 20px; */
}

/* CREATE ROOM PAGE */

.join-room,
.create-room {
  padding: 20px;
}

.room-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.room-content__top {
  flex: 1;
  overflow-y: auto;
  padding: 10px 20px;
}

.room-content__slider {
  padding: 0px;
}

.room-content__bottom {
  /* padding: 0 20px 60px 20px; */
}

/* ROOM PAGE */

.pointer-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0;
}

.uk-slider-container::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background: linear-gradient(
    90deg,
    rgba(51, 54, 59, 1) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0) 60%,
    rgba(51, 54, 59, 1) 100%
  );
  width: 100%;
  height: 100%;
}

.uk-slider-container {
  position: relative;
  background-color: #ffffff;
  padding: 10px 0;
  cursor: default;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.uk-slidenav-previous,
.uk-slidenav-next {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.uk-slidenav .uk-icon {
  z-index: 100;
}

.uk-panel h1 {
  color: #333;
}

.uk-slider-items li {
  background: transparent;
  width: 80px;
  height: 80px;
}

.point-selected {
  background-color: rgb(51, 54, 59) !important;
  border-radius: 50%;
}

.point-selected h1 {
  color: #00d2ff;
}

/* TOAST NOTIFICATIONS */

.uk-notification-message {
  background: #2da779;
  color: #333;
  font-size: 15px;
}

.uk-notification .uk-icon {
  color: #333;
}

/* INPUTS, BUTTONS, TOGGLES */

form > h3 {
  margin-bottom: 20px;
}

input,
select {
  font: inherit;
  color: #e5e5e5;
  background-color: rgba(255, 255, 255, 0.05);
  border: 0;
  border-radius: 2px;
  vertical-align: middle;
  display: inline-block;
  margin: 10px 0;
  padding: 0 10px;
  width: 100%;
  height: 40px;
  transition: .2s ease-in-out;
  transition-property: color,background-color,border;
}

input:focus,
select:focus {
  outline: 0;
}

.form-field {
  padding-bottom: 16px;
}

.uppercase-input {
  text-transform: uppercase;
}

label {
  color: #bcbcbc;
  letter-spacing: 2px;
  font-size: .875rem;
  margin-bottom: 5px;
}

.uk-tab > .uk-active > a {
  color: #e5e5e5;
  border-color: #3a7bd5;
}

.uk-position-center-left,
.uk-position-center-right {
  margin: 15px 0 !important;
}

.zigzag {
  position: relative;
  width: 100%;
  height: 200px;
}

.zigzag:before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}
